<div id="wiser-drawer" class="drawer">
    <div class="content">
        <div class="drawer-message">
            <p>{{# if message}}{{message}}{{/if}}</p>
        </div>

        <div class="drawer-content"></div>

        <!--<div class="links">-->
            <!--<div class="facebook">-->
                <!--<a href="//www.facebook.com/MyWiserHealth">Like our page on Facebook!</a>-->
            <!--</div>-->
            <!--<div class="connect">-->
                <!--<a href="/connect" title="Visit WiserConnect">Ask and answer questions on <span class="connect-logo">Connect</span></a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
