<div id="wiser-overlay" class="overlay">
    <div class="close"><a href="#" title="Close Overlay">x</a></div>

    <div class="content">
        <h2 class="title">{{title}}</h2>
        <div class="overlay-message"><p>{{# if message}}{{message}}{{/if}}</p></div>
        <div class="overlay-content"></div>
    </div>
</div>
