<a class="clickable third-party-signin registration_login_janrain_link">
    Sign in with
        <ul>
            <li class="facebook">Facebook</li>
            <li class="google">Google</li>
            <li class="linkedin">LinkedIn</li>
        </ul>
</a>
